<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div
        class="add-post"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      ></div>
      <a href="#" (click)="logout()" style="margin-left: 25px">Sair</a>
    </div>
  </div>
</nav>

<br /><br /><br />
<div class="container">
  <app-publicacoes></app-publicacoes>
  <app-incluir-publicacao
    (atualizarTimelineEmitter)="atualizarTimelineEmitter($event)"
  ></app-incluir-publicacao>
</div>
