<div class="container">
  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">
      Conheça as melhores ofertas para você se divertir quando quiser:
    </h5>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <img src="/assets/ofertas/4/img1.jpg" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>Estância das águas</h4>
      </div>

      <div class="row">
        <h5>Diversão garantida com piscinas, trilhas e muito mais.</h5>
      </div>

      <div class="row">
        <p>Anunciado por: <b>Estância das águas</b></p>
      </div>

      <div class="row">
        <p>R$ 31,90</p>
      </div>

      <div class="row">
        <button class="btn btn-outline-success">Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <img src="/assets/ofertas/5/img1.jpg" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>Kart</h4>
      </div>

      <div class="row">
        <h5>Bateria de Kart de 30 minutos.</h5>
      </div>

      <div class="row">
        <p>Anunciado por: <b>Speed Kart</b></p>
      </div>

      <div class="row">
        <p>R$ 54,90</p>
      </div>

      <div class="row">
        <button class="btn btn-outline-success">Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />

  <div *ngFor="let item of ofertasDiversao" class="pb-4">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ item.imagens[0].url }}" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{ item.titulo }}</h4>
        </div>

        <div class="row">
          <h5>{{ item.descricao_oferta }}</h5>
        </div>

        <div class="row">
          <p>
            Anunciado por: <b>{{ item.anunciante }}</b>
          </p>
        </div>

        <div class="row">
          <p>R$ {{ item.valor }}</p>
        </div>

        <div class="row">
          <button
            class="btn btn-outline-success"
            [routerLink]="['/oferta', item.id]"
          >
            Ver oferta
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
